#form{
    margin: 50px auto;
    padding: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:column;
    background-color:#fff;
    width: 300px;
    height: 300px
}

#inputForm {
    width: 30%
}

#img{
    max-width: 300px;
    border-radius:5px;
    transition: transform 1s, filter 1s ease-in-out;
    transform-origin: center center;
    filter: brightness(70%);
}

#img:hover{
    filter: brightness(100%);
    transform: scale(1.05);
}

#imgContainer{
    overflow: hidden; 
}

#formContainer{
background-color: #fff;
margin: 150px auto;
display: flex;
width: 700px;
height: 400px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

textarea{
    width: 200px
}


@media screen and (max-width: 703px){
    #img{
        display:none;
    }
    #formContainer{
        width:270px
    }
}
